:root {
  --auxiliary-color: #28a745;
  --background-color: #fff;
  --main-text-color: #fff;
  --hero-text-color: #e9e9e9;
  --subtitle-color: #333;
  --auxiliary-background-color: #0284d0;
  --second-background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------Header-------------------- */

.header {
  display: flex;
  justify-content: space-between;
}

.logo-book {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header .icon {
  width: 40px;
  height: 35px;
}

.logo-finance {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;

  color: var(--auxiliary-color);
}

.logo-ledger {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.nav > .list {
  display: flex;
  flex-direction: row;
  column-gap: 38px;
  margin-left: auto;
  padding-top: 21px;
  padding-bottom: 20px;
}

.nav .link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color);
}

/*-------------------Hero---------------------------*/

.hero {
  background-color: var(--subtitle-color);
  background-image: url(../images/background-hero.jpg);
  margin-top: -70px;
  height: 768px;
}

.hero-elements {
  padding-top: 279px;
  text-align: center;
}

.title {
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--hero-text-color);
}

.hero .text {
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  color: var(--hero-text-color);
}

.button {
  margin: 0 auto;
  background: var(--auxiliary-color);
  padding: 10px 30px 9px 41px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-text-color);
}

/*-----------About-----------------*/

.container-about {
  padding: 40px 66px 19px;

  background-color: var(--second-background-color);
}

.about {
  display: flex;
  column-gap: 71px;

  text-align: center;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;

  background-color: var(--auxiliary-color);
  border-radius: 50%;
}

.list.about .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list.about .icon {
  width: 35px;
  height: 35px;
}

.about-info {
  margin-bottom: 19px;
  color: var(--subtitle-color);
}

.about .subtitle {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.about .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/*----------------Team (Who we?)-----------------*/
.container.team {
  padding: 0;
}

.team {
  display: flex;
}

.team-text {
  background-color: var(--auxiliary-color);
  color: var(--main-text-color);
  padding: 84px 30px;
}

.team .text:first-of-type {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.team .subtitle {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team .text:not(first-of-type) {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
}

.team .button {
  margin: 0;
  border: 1px solid var(--main-text-color);
}

/*-----------------What we do---------------------*/
.container.what {
  padding: 50px 28px;
}

.what-we-do {
  text-align: center;
  color: var(--subtitle-color);
}

.what .text:nth-of-type(1) {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.what .subtitle {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.what .text:nth-of-type(2) {
  margin-bottom: 39px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/*------------------Blog-------------------------*/

.container.blog {
  padding: 0;
  display: flex;

  background-color: var(--auxiliary-background-color);
}

.article {
  padding: 112px 44px 30px;
  color: var(--main-text-color);
}

.date {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.blog .subtitle {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.blog .text {
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 1.56;
}

.blog .button {
  padding: 11px 41px 10px 42px;

  border: 1px solid var(--main-text-color);
  background-color: inherit;
}

/*----------------Who we are?---------------------*/

.container.who {
  padding: 49px 30px 59px;

  text-align: center;
  color: var(--subtitle-color);
}

.who .list {
  display: flex;
  gap: 16px;
}

.who img {
  margin-bottom: 13px;
}

.who .text:nth-of-type(1) {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.who .subtitle {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.who .text:nth-of-type(2) {
  margin-bottom: 45px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.names {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
}

.who-list .text:only-of-type {
  margin: 0;
}

/*---------------------------------------------Contact us-------------------*/

.callback {
  padding: 0;
  display: flex;

  background-color: var(--second-background-color);
}

.callback .subtitle {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.form {
  padding: 80px 30px;
}

.input {
  width: 620px;
  height: 40px;
  border: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.input-name {
  margin-bottom: 36px;
}

.input-email {
  margin-bottom: 60px;
}

.callback .button {
  min-width: 620px;
}

/*------------------Footer----------------------------*/

.footer > .container {
  padding: 20px 537px 16px;
  background-color: var(--subtitle-color);
  color: var(--main-text-color);
}

.footer-list {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer .icon {
  width: 35px;
  height: 35px;
}

.footer .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}

.footer .link {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

/* facebook fill="#fff" style="fill:var(--color2, #fff)" */
/* twitter  fill="#fff" style="fill:var(--color2, #fff)"*/
/* youtube fill="#fff" style="fill:var(--color2, #fff)" */
/* linkedin fill="#fff" style="fill:var(--color2, #fff)" */
