:root {
  --auxiliary-color: #28a745;
  --background-color: #f4f4f4;
  --main-text-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
*/

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------Header-------------------- */

.logo {
  fill: #28a745;
}

.logo-finance {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;

  color: var(--auxiliary-color);
}

.logo-ledger {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  color: var(--main-text-color);
}
